apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  namespace: {{ argocd_app_namespace }}
  name: {{ argocd_app_name }}
  labels:
    keployr.io/division: {{ kp_division }}
    keployr.io/stack: {{ kp_stack }}
{% if kp_component|length > 0 %}
    keployr.io/component: {{ kp_component }}
{% endif %}
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: "{{ argocd_project }}"
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: "{{ kp_k8s_namespace }}"
  source:
    repoURL: "{{ argocd_repo_url }}"
    targetRevision: "{{ argocd_repo_revision }}"
    path: "{{ argocd_source_path }}"
    {% if kp_argocd_plugin is defined -%}
    plugin:
      name: {{ kp_argocd_plugin }}
    {% endif -%}
    {% if not kp_build_as_manifests and (kp_helm_charts|length > 0 or kp_helm_values|length > 0) -%}
    helm:
      releaseName: "{{ kp_release_name }}"
    {% endif %}
