apiVersion: v2
name: {{ kp_stack }}-{{ kp_component }}
type: application
version: {{ kp_component_version }}
{% if kp_helm_charts|length > 0 -%}
dependencies:
{{ kp_helm_charts | to_nice_yaml }}
{% endif -%}