---

k8s_name: ""
k8s_kind: "{{ k8s_definition.kind }}"
k8s_fullname: "{{ keployr_stack }}-{{ keployr_component }}-{{ k8s_name }}"

################################################################################
## keployr division / stack / component
################################################################################

##
# Division name
##
keployr_division: ""

##
# Stack name
##
keployr_stack: ""

##
# Full path to project build dir
##
keployr_project_build_path: "{{ build_dir }}"

##
# Define component name (eg: "elasticsearch" , "logstash" ) = folder name
##
keployr_component: ""

##
# dir name
##
keployr_component_dir: "{{ keployr_component | lower }}"

##
# full path of component source
##
keployr_component_path: "./{{ keployr_component_dir }}"

##
# full component name
##
keployr_component_fullname: "{{ keployr_division }}-{{ keployr_stack }}-{{ keployr_component }}"

keployr_stack_fullname: "{{ keployr_division }}-{{ keployr_stack }}"

##
# relative stack path
##
keployr_stack_path: "{{ keployr_env }}/{{ keployr_stack }}"

##
# relative component path
##
keployr_build_component_path: "{{ keployr_stack_path }}/{{ keployr_component_dir }}"

keployr_fullname: "{{ (keployr_component == '') | ternary(keployr_stack_fullname, keployr_component_fullname) }}"

################################################################################
## argoCD
################################################################################

##
# Generate argoCD app manifest files.
##
keployr_argocd_enabled: false

##
# Constants
##

##
# apps definition gitops dirname
##
keployr_gitops_apps_dirname: gitops-apps

argocd_apps_path: "{{ keployr_project_build_path }}/{{ keployr_gitops_apps_dirname }}"
argocd_appset_filename: "{{ keployr_stack }}-apps.yaml"
argocd_appset_path: "{{ keployr_project_build_path }}/{{ argocd_appset_filename }}"

##
# Template application manifest
##
argocd_project: ""
argocd_repo_url: ""
argocd_repo_revision: develop
argocd_app_name: "{{ keployr_fullname }}"
argocd_app_namespace: argocd

################################################################################
## Helm
################################################################################

##
# Define Helm charts list.
##
keployr_helm_charts: []
# - name: logstash
#  repository: elastic
#  version: 7.14.1

##
# Define Helm values.yaml data.
# Object or String
##
keployr_helm_values: {}

##
# Helm release name (override argoCD app name)
##
keployr_release_name: "{{ keployr_stack }}-{{ keployr_component }}"

##
# Constants
##
helm_values_filename: values.yaml
helm_values_path: "{{ keployr_build_helm_dir }}/{{ helm_values_filename }}"

helm_chart_filename: Chart.yaml
helm_chart_path: "{{ keployr_build_helm_dir }}/{{ helm_chart_filename }}"

helm_templates_dirname: templates
helm_templates_path: "{{ keployr_build_helm_dir }}/{{ helm_templates_dirname }}"
helm_templates_src_dirname: helm_templates
helm_templates_src_path: "{{ keployr_component_path }}/{{ helm_templates_src_dirname }}"

helm_debug_templates_dirname: _helm_templates

################################################################################
## Build engine
################################################################################

##
# Generate raw YAML manifest files.
##
keployr_build_as_manifests: false

##
# Generate a single raw YAML manifest "all" file.
##
keployr_build_as_manifests_single_file: false

##
# where file are generated
##
kp_component_build_dir: "{{ kp_build_dir }}/{{ keployr_component }}"

##
# where magic happen (kustomize / helm generation if needed)
##
keployr_build_helm_dir: "{{ kp_component_build_dir }}/_wip_helm"

##
# where magic happen (kustomize / helm generation if needed)
##
keployr_build_manifests_dir: "{{ kp_component_build_dir }}/_wip_manifests"

##
# where extra manifest are located.
##
keployr_src_manifests_dir: "{{ keployr_component_path }}/extra_manifests"

##
# for kustomize
##
keployr_build_kustomize_dir: "{{ kp_component_build_dir }}/_wip_kustomize"

##
# kubernetes namespace
##
keployr_k8s_namespace: "default"


k8s_manifest_file: "{{ '%s/%02d-%s-%s.yaml' % (kp_component_build_dir, keployr_k8s_gen_list_counter | int, k8s_name | lower, k8s_kind | lower) }}"
