---

##
# working dir to build stuff
##
kp_build_dir: "./build/{{ kp_env }}"

##
# kubernetes namespace
##
kp_k8s_namespace: "default"

################################################################################
## keployr division / stack / component
################################################################################

##
# Division name
##
kp_division: ""

##
# Stack name
##
kp_stack: ""

##
# Define component name (eg: "elasticsearch" , "logstash" ) = folder name
##
kp_component: ""

##
# Component fullname
##
kp_stack_fullname: "{{ kp_division }}-{{ kp_stack }}"

##
# relative stack path
##
kp_stack_build_dir: "{{ kp_env }}/{{ kp_stack }}"

##
# full path of component source
##
kp_component_src_dir: "./{{ kp_component | lower | lower }}"

##
# where file are generated
##
kp_component_build_dir: "{{ kp_stack_build_dir }}/{{ kp_component }}"

##
# for helm chart definition
##
kp_component_version: "v0.0.1"

##
# full component name
##
kp_component_fullname: "{{ kp_division }}-{{ kp_stack }}-{{ kp_component }}"

##
# relative component path
##
kp_component_gitops_path: "{{ kp_stack_build_dir }}/{{ kp_component | lower }}"

kp_fullname: "{{ (kp_component == '') | ternary(kp_stack_fullname, kp_component_fullname) }}"

################################################################################
## gitops
################################################################################

##
# Generate argoCD app manifest files.
##
kp_argocd_enabled: false

##
# Constants
##

##
# apps definition gitops dirname
##
kp_gitops_apps_dirname: gitops-apps

kp_build_gitops_apps_dir: "{{ kp_build_dir }}/{{ kp_gitops_apps_dirname }}"
argocd_appset_filename: "{{ kp_stack }}-apps.yaml"
argocd_appset_path: "{{ kp_build_dir }}/{{ argocd_appset_filename }}"

##
# Template application manifest
##
argocd_project: ""
argocd_repo_url: ""
argocd_repo_revision: develop
argocd_app_name: "{{ kp_fullname }}"
argocd_app_namespace: argocd

################################################################################
## Helm
################################################################################

##
# Define Helm charts list.
##
kp_helm_charts: []
# - name: logstash
#  repository: elastic
#  version: 7.14.1

##
# Define Helm values.yaml data.
# Object or String
##
kp_helm_values: {}

##
# Helm release name (override argoCD app name)
##
kp_release_name: "{{ kp_stack }}-{{ kp_component }}"

##
# Constants
##
helm_values_filename: values.yaml
helm_values_path: "{{ kp_build_helm_dir }}/{{ helm_values_filename }}"

helm_chart_filename: Chart.yaml
helm_chart_path: "{{ kp_build_helm_dir }}/{{ helm_chart_filename }}"

helm_templates_dirname: templates
helm_templates_path: "{{ kp_build_helm_dir }}/{{ helm_templates_dirname }}"
helm_templates_src_dirname: helm_templates
helm_templates_src_path: "{{ kp_component_src_dir }}/{{ helm_templates_src_dirname }}"

helm_debug_templates_dirname: _helm_templates

################################################################################
## Build engine
################################################################################

##
# Generate raw YAML manifest files.
##
kp_build_as_manifests: false

##
# Generate a single raw YAML manifest "all" file.
##
kp_build_as_manifests_single_file: false

##
# where magic happen (kustomize / helm generation if needed)
##
kp_build_helm_dir: "{{ kp_component_build_dir }}/_wip_helm"

##
# where magic happen (kustomize / helm generation if needed)
##
kp_build_manifests_dir: "{{ kp_component_build_dir }}/_wip_manifests"

##
# where extra manifest are located.
##
kp_src_manifests_dir: "{{ kp_component_src_dir }}/extra_manifests"

##
# for kustomize
##
kp_build_kustomize_dir: "{{ kp_component_build_dir }}/_wip_kustomize"