# {{ keployr_division }} / {{ keployr_stack }}

{% for env in keployr_devop.envs %}
{% set envVars = lookup('vars', 'env_' + env ) %}
{% set host_suffix = envVars.env_ingress_host_suffix %}
## Stacks - {{ env | upper }}

{% if infra.stacks is defined %}
{% for stack in infra.stacks %}
## {{ stack.name }}

| Service | URLs |
| ------- | ---- |
{% for service in stack.services %}
| {{ service.name }} | {% if service.urls is defined %}{% for url in service.urls %}* [https://{{ url.ingress }}{{ host_suffix }}](https://{{ url.ingress }}{{ host_suffix }}){% if loop.index < loop.length %}<br>{% endif %}{% endfor %}{% endif %} |
{% endfor %}

{% endfor %}
{% else %}

| Service | URLs |
| ------- | ---- |
{% for service in keployr_devop.services %}
| {{ service.name }} | {% if service.urls is defined %}{% for url in service.urls %}* [https://{{ url.ingress }}{{ host_suffix }}](https://{{ url.ingress }}{{ host_suffix }}){% if loop.index < loop.length %}<br>{% endif %}{% endfor %}{% endif %} |
{% endfor %}

{% endif %}
{% endfor %}
